@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap";

body {
    background-color: rgb(44, 44, 44);
    margin: 0;
}

header {
    padding: 30px;
    background-color: rgb(54, 49, 49);
   
}

header div {
    text-align: center;

}

header div a {
    padding: 30px;

    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: azure;
      
}

header div a:hover {
    color: #fd91919d;
    transition: color 400ms;
    
}

#content {
    margin-top: 90px;
    text-align: center;
    
}

/* Imag content */
.courses {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    
}

.course {
    margin: 20px;
    margin-left: 70px;

    width: 360px;
    border-radius: 30px;
    height: 470px;
    border: 5px solid;

    background-color: rgb(34, 33, 33);
    cursor: pointer;
}

#starter:hover {
    
    background-color: rgb(221, 116, 41);
    border-radius: 5px;
    height: 490px;
   
    border-color: cornflowerblue;
    transition: 400ms;
}

#launchbase:hover {
    
    background-color: var(--rocketseat-color);
    border-radius: 5px;
    height: 490px;
   
    border-color: rgb(235, 120, 39);
    transition: 400ms;
}

#gostack:hover {
    
    background-color: var(--rocktec-color);
    border-radius: 5px;
    height: 490px;
   
    border-color: var(--tec-color);
    transition: 400ms;
}

.course img {
    padding: 50px;
    padding-left: 6px;
    
}

#starter {
    padding: 60px 100px 100px;
    
}

#gostack {
    padding: 60px 90px 100px;
    
}

#launchbase {
    padding: 50px;
    padding-left: 55px;
}

#links {
    text-align: center;
    margin-top: 80px;
}

#links a {
    color: dimgray;
    text-decoration: none;
    font-weight: bolder;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    
}

#links a:hover {
    color: crimson;
    transition: 400ms;
}


/* == Modal == */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}


.modal {
    background-color: #141111;
    width: 30%;
    height: 80%;
    border-radius: 8%;
    border: 2px solid;
    border-color: var(--tec-color);

    position: absolute;
    right: 500px;
    top: 50px;
}

.modal img {
    width: 250px;
    height: 180px;
    border-radius: 10%;
    border: 2px solid;

    position: absolute;
    left: 22.5%;
    top: 20%;

}



.modal img:hover {
    border-radius: 20%;
   
    border-color: chocolate;
    transition: 400ms;
}

.modal h2 {
    font-weight: bold;
    color: var(--tec-color);
    position: absolute;
    left: 41.5%;
    top: 9%;
}

.modal p {
    color: var(--tec-color);
    position: absolute;
    left: 15%;
    top: 72%;
}

.modal h4 {
    color: var(--tec-color);
    position: absolute;
    left: 15%;
    top: 80%;
}

.modal .close-modal {
    color: var(--tec-color);
    position: absolute;
    right: 28px;
    top: 18px;
    cursor: pointer;
}

/* == Modal.Active */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}